.milan {
   background-image: url(../img/background\ 1.png);
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
}

.header {
    padding: 46px 177px 17px 161px;
    display: flex;
    justify-content: space-between;
}

.nav-link,
.grid-content,
.footer{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;  
}

.logo a {
    text-decoration: none;
}

.logo-style {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    float: right; 
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.title-logo {
    font-size: 29px;
}

.text-logo {
    font-size: 18px;
}

.logo:hover .logo-style {
    color: #F26522; 
}

.logo {
    position: relative;
    display: inline-block;
}

.logo-logo {
    display: none;
    position: absolute;
    top: 0px;
}

.logo:hover .logo-logo  {
    display: block;
}

.logo {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.logo-logo {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 3;
}

.logo:hover .logo-logo  {
    display: block;
}

.link-tel {
    text-align: end; 
}

.link-mail a,
.link-tel a {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.link-mail {
    padding-bottom: 19px;
}

.nav-link .link-mail a:hover {
    color: #F26522;
}

.nav-link .link-tel a:hover {
    color: #F26522;
}

.grid {
    width: 1030px;
    height: 560px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
}

.grid img {
    object-fit: fill;
    width: 300px;
    height: 220px;
}

div a {
    text-decoration: none;
}

.text-decorete {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

.hover-content {
    width: 284px;
    padding: 7px 0 12px 16px;
    background: #F26522;
    color: #FFFFFF;
    display: none;
    position: absolute;
    top: 163px;
}

.hover-content a {
    text-decoration: none;
    display: block;
}

.hover-content-decorete {
    color: #FFFFFF;
    font-size: 10px;
    padding-bottom: 8px;
    display: block;
}

.box {
    display: flex;
    flex-direction: row;
}

.content-decorete {
    color: #FFFFFF;
    font-size: 20px;
    display: block;
}

.content-decorete-text {
    color: #FFFFFF;
    font-size: 14px;
    padding-left: 128px;
    display: block;
    padding-top: 3px;
}

.content-decorete-text::after {
    content: "";
    border: 1px solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:  3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* .grid-content  h3:hover {
    color: #F26522;
} */

.grid-content {
    position: relative;
    display: inline-block;
}

.grid-content:hover .hover-content {
    display: block;
} 


.footer{
    font-size: 12px;
    color:#FFFFFF;
    padding: 49px 0 15px 0;
    text-align: center;
}

