body {
  background: black;
  height: 100vh;
  overflow: hidden;
}
.item {
  font-family: sans-serif;
  top: 300px;
  width: 300px;
  color: rgb(201, 201, 12);
  text-align: center;
  position: relative;
  margin: 0 auto;
  transform: perspective(100px) rotateX(25deg);
}
.text {
  top: 0;
  position: absolute;
  animation-name: animation-test;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.text-decorete {
  padding-bottom: 15px;
}
@keyframes animation-test {
  0% {
    top: 155px;
  }
 100% {
    top: -100px;
  }
}
