.conteiner {
  min-height: 100vh;
  background-image: url(../img/Фон.png);
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding: 18px 79px;
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: 22px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.header-text-decorete {
  font-size: 14px;
  display: flex;
}

svg {
  padding-right: 25px;
}

svg:hover path {
  fill:#01813F;
}

.text-link{
  display: flex;
  align-items: center;
  gap: 4px;
}


.header a:hover {
  color: #3cb878;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.form-style {
  position: relative;
  width: 444px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 30px 60px;
}

.text-decorete-legend {
  font-size: 20px;
  color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  padding-bottom: 20px;
}

.text-decorete-legend::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  background: #3CB878;
  left: 0px;
  top: 31px;
}

.text-decorete {
  font-size: 14px;
  color: #3cb878;
  text-decoration: none;
}

.btn {
  margin-bottom: 31px;
}

.btn-facebook,
.btn-google {
  padding: 12px 29px 12px 16px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-facebook {
  background: #305db8;
}

.btn-google {
  background: #df4a32;
}

.fa-facebook {
  padding-right: 37px;
}

.fa-facebook::after {
  position: absolute;
  content: '';
  border: 1px solid #0A162F;
  height: 28px;
  mix-blend-mode: normal;
  opacity: 0.1;
  left: 103px;
  top: 77px;
}

.fa-google-plus {
  padding-right: 38px;
}

.fa-google-plus::after {
  position: absolute;
  content: '';
  border: 1px solid #0A162F;
  height: 28px;
  mix-blend-mode: normal;
  opacity: 0.1;
  left: 279px;
  top: 77px;
} 

.text-border {
  font-size: 14px;
  color: #848484;
  padding-left: 155px;
}

.text-border::before,
.text-border::after {
  position: absolute;
  content: ' ';
  border: 1px solid #F2F2F2;
  width: 152px;
}

.text-border::before {
  left: 60px;
  top: 153px;
}

.text-border::after {
  left: 231px;
  top: 153px;
}

.input-input {
  margin-top: 12px;
}

.decorete-input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  background: #ffffff;
  border-radius: 2px;
  font-size: 14px;
  color: #bebebe;
  outline: none;
  border: 1px solid #f2f2f2;
  padding: 15px 0 15px 20px;
}

.decorete-input:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox-input + .checkbox-label {
  position: relative;
  cursor: pointer;
}

.checkbox-input + .checkbox-label:before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background: rgba(0, 0, 0, 0.0001);
  top: 0;
  left: 0;
}

.checkbox-input:checked + .checkbox-label::before {
  background-image: url(../img/Vector\ 1.png);
  background-size: cover;
}

.checkbox-label {
  font-size: 14px;
  padding: 3px 0 3px 30px;
}

.checkbox-label a {
  text-decoration: none;
}

.checkbox-label-text {
  color: #3cb878;
}

.btn-input {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  margin: 20px 0 38px 0;
  cursor: pointer;
}
